@import url("style/principal.css");

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Archivo Black", Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    background: #05aafa;
    width: 100%;
    justify-content: center;


}
main{

}

footer{

}
